<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>com.sun.jersey.qe.tests.servlet3.annotatedappwithservletmapping.OneAndTwoApplication</servlet-name>
        <init-param>
            <param-name>com.sun.jersey.config.feature.Trace</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.logging.DisableEntitylogging</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>com.sun.jersey.qe.tests.servlet3.annotatedappwithservletmapping.OneApplication</servlet-name>
        <init-param>
            <param-name>com.sun.jersey.config.feature.Trace</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.logging.DisableEntitylogging</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.sun.jersey.qe.tests.servlet3.annotatedappwithservletmapping.OneAndTwoApplication</servlet-name>
        <url-pattern>/oneandtwomapping/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.sun.jersey.qe.tests.servlet3.annotatedappwithservletmapping.OneApplication</servlet-name>
        <url-pattern>/oneonlymapping/*</url-pattern>
    </servlet-mapping>    
</web-app>
