<?xml version="1.0" encoding="UTF-8"?>
<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 2010-2011 Oracle and/or its affiliates. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License.  You can
    obtain a copy of the License at
    http://glassfish.java.net/public/CDDL+GPL_1_1.html
    or packager/legal/LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at packager/legal/LICENSE.txt.

    GPL Classpath Exception:
    Oracle designates this particular file as subject to the "Classpath"
    exception as provided by Oracle in the GPL Version 2 section of the License
    file that accompanied this code.

    Modifications:
    If applicable, add the following below the License Header, with the fields
    enclosed by brackets [] replaced by your own identifying information:
    "Portions Copyright [year] [name of copyright owner]"

    Contributor(s):
    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.

-->
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN"
                 "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd"[
<!ENTITY % ents SYSTEM "jersey.ent" >
%ents;
]>
<chapter id="spring">
    <title>Jersey With Spring</title>
    <section>
        <title>Introduction</title>
        <para>This chapter explains how to get started with a simple project that utilizes Jersey
            with <ulink url="http://www.springsource.org/">Spring</ulink>. At the end of this
            chapter, the reader will be able to configure Jersey inside the Spring framework and
            take advantage of some Spring specific features available in Jersey. The intended
            audience of this chapter is developers already familiar with Spring who are interested
            in using Jersey in their applications.</para>
        <para>The easiest way to explain how to use Jersey with Spring is via an example. Rather
            than creating a Spring application from scratch, we will start with a Web application
            generated from a Maven archetype and then modify it to run inside Spring.</para>
        <note>
            <para>Should we cite a version of spring here?</para>
        </note>
    </section>
    <section>
        <title>Creating a Web Application</title>
        <para>In this section we shall create a simple Web application using one of Jersey's <ulink
                url="http://maven.apache.org/">Maven</ulink> archetypes. Most development
            environments support Maven and Maven archetypes, but to avoid narrowing this discussion
            to any specific development envinroment, we shall use command-line tools instead. To
            create the basic Web application execute the following command:
            <programlisting>mvn archetype:generate -DarchetypeCatalog=http://download.java.net/maven/2</programlisting>
            and select the <literal>jersey-quickstart-webapp</literal> option. When prompted choose
                <literal>example.jersey.spring</literal> for the <literal>groupId</literal> and
            choose <literal>example-spring-jersey</literal> for the <literal>artifactId</literal>.
            For all other options choose the default values.</para>
        <para>Once the Web application has been generated, it is a good idea to test it to make
            sure that it is properly configured. For example, using <ulink url="http://glassfish.java.net">Glassfish</ulink>
            listening to port 8080,
            we can compile and test the application in the <literal>example-spring-jersey</literal>
            directory as shown below:
            <programlisting linenumbering="numbered">mvn clean install
asadmin deploy target/example-spring-jersey.war
curl -v http://localhost:8080/example-spring-jersey/webresources/myresource</programlisting>
            If everything works, the last line printed by the <literal>curl</literal> command should be 
            <literal>Hi there!</literal> (if the <literal>curl</literal> command is not available
            on your system, you can try pointing to the URL using your system's browser).
        </para>
    </section>
    <section>
        <title>Converting a Web Application to Spring</title>
        <para/>
    </section>
    <section>
        <title>Scopes</title>
        <para/>
    </section>
    <section>
        <title>Sub-Resources</title>
        <para/>
    </section>
    <section>
        <title>Injecting Spring Beans</title>
        <para/>
    </section>
    <section>
        <title>Spring-based AOP</title>
        <para/>
    </section>
    <section>
        <title>Jersey-managed Spring-instantiated resources</title>
        <para/>
    </section>
</chapter>
